<% include partials/header %>

    <img src="<%=friend.imgUrl%>" />
    <h4>
        Tweets by
        <%=friend.name%>
            <a href="https://twitter.com/<%=friend.screenName%>">(@
                <%=friend.screenName%>)</a>
    </h4>
    <ul>
        <% tweets.forEach( tweet => { 
                        const tweetStr = `${tweet.text}`;
                        %>
            <li>
                <%= tweetStr %>
            </li>
            <% }) %>
    </ul>

    <% include partials/footer %>