<% include partials/header %>

    <form class="text-right" action='/main' method="POST">
        <button>Get new tweets</button>
    </form>

    <h4>Tweets</h4>
    <div class="friendlist">
        <ul>
            <% data.forEach( item => { %>
                <li>
                    <a href="https://twitter.com/<%=item.name%>">
                        <%= item.name %>
                    </a> (
                    <%=item.tweets ? item.tweets.length : 0%> )
                        <% if(item.tweets) { %>
                            <ul>
                                <% item.tweets.forEach(tweet => { %>

                                    <li>
                                        <% if(!tweet.isRead) { %>
                                            <form class="inline" action="/tweets/<%=tweet._id%>?_method=PUT&dest=main" method="POST">
                                                <button class="btn btn-link btn-xs">(X)</button>
                                            </form>
                                            <%=tweet.text%>
                                                <% } %>
                                    </li>

                                    <% }) %>
                            </ul>
                            <% } %>
                </li>
                <% }) %>
        </ul>
    </div>


    <% include partials/footer %>